<div ng-controller="main">
  <form ng-if="!loggedIn">
    <h3>Welcome to the chat app</h3>
    <input type="text" placeholder="email" ng-model="user.email" ng-required="true"/>
    <input type="password" placeholder="password" ng-model="user.password" ng-required="true"/>
    <button ng-click='login()'>Login</button>
  </form>

  <div ng-controller="chats" ng-if="loggedIn">
    <div class="chatPage">
      <div class="chatNav">
        <div class="myDetails">
        <div class='currentCircle'></div>
      <h3 class="currentUser">{{myDetails.email}}</h3>
    </div>
      <div ng-repeat="user in usersList" class="users">
        <div ng-if="user.userId !== myDetails.id" ng-class="onlineUsers.indexOf(user.userId) > -1 ? 'circle' : 'notOnline'"></div>
        <button ng-class="user.userId == highlighted ? 'userLinkPressed' : 'userLink'" ng-if="user.userId !== myDetails.id"
        ng-click="selectChat(user.userId, user.email)">
          {{user.email}}
        </button>
      </div>
    </div>

    <div class="chatArea" ng-show="private">
      <div class="messageArea">
        <div ng-repeat="message in messages" class="messageContent">
          <h5>{{message.get('email')}} <span class="message_timestamp">{{message.get('time') | date:"h:mma"}}</span></h5>
          <span ng-bind="message.get('content')"></span>
        </div>
      </div>
      <div class="textArea">
      <form ng-submit="submit()">
        <input placeholder="write your message" type="text" class="input-field" ng-model="newMessage"/>
        <button type="submit" ng-show="false"></button>
      </form>
    </div>
    </div>
  </div>
  </div>
</div>
