<div ng-controller="main">
  <form ng-if="!loggedIn">
    <h3>Welcome to the chat app</h3>
    <input type="text" placeholder="email" ng-model="user.email" ng-required="true"/>
    <input type="text" placeholder="password" ng-model="user.password" ng-required="true"/>
    <button ng-click='login()'>Login</button>
  </form>

  <div ng-controller="chats" ng-if="loggedIn">
    <div class="chatPage">
      <div class="chatNav">
      <h3>Hey {{myDetails.email}},</h3>
        <h4>pleast choose a user to chat with:</h4>
      <div ng-repeat="user in usersList" class="users">
        <div ng-if="user.userId !== myDetails.id" ng-class="onlineUsers.indexOf(user.userId) > -1 ? 'circle' : 'notOnline'"></div>
        <button class="userLink" ng-if="user.userId !== myDetails.id" ng-click="selectChat(user.userId, user.email)">
          {{user.email}}
        </button>
      </div>
    </div>



    <div class="chatArea" ng-show="private">
      <div class="messageArea">
        <h3>conversation with {{chatFriendEmail}}</h3>
        <div ng-repeat="message in messages">
          <h5>{{message.get('from')}} {{message.get('time') | date:"h:mma"}}</h5>
          <span ng-bind="message.get('message')"></span>
        </div>
      </div>
      <form ng-submit="submit()">
        <input placeholder="write your message" type="text" class="input-field" ng-model="newMessage"/>
        <button type="submit" ng-show="false"></button>
      </form>
    </div>
  </div>
  </div>
</div>
